<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <!-- Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-56756865-2', 'auto');
            ga('send', 'pageview');
        </script>

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
          </div>
          <div class="sub-header">
            <a class="extra" href="/">
              Home
            </a>
            /
            <a class="extra" href="/2013/11/15/code-of-conduct.html">
              Code of Conduct
            </a>
            /
            <a class="extra" href="/all.html">
              All Posts
            </a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="body">
              <div class="contact contact-left">
                <p>
                  MadPUG<br />
                  Madison (WI) Python Users' Group<br />
                  <a href="http://www.meetup.com/MadPUG/">
                    http://www.meetup.com/MadPUG/
                  </a>
                </p>
              </div>
              <div class="contact contact-right">
                <p>
                  <a href="https://github.com/MadPUG">
                    github.com/MadPUG
                  </a><br />
                  <a href="https://twitter.com/MadisonPUG">
                    twitter.com/MadisonPUG
                  </a><br />
                </p>
              </div>
              <div class="contact license">
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                    <img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" />
                </a>
                <p>
                  This work is licensed under a
                  <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                  Creative Commons Attribution 3.0 Unported License</a>.
                </p>
              </div>
            </div>
          </div>
        </div>

    </body>
</html>
